@model SecureWebApp.Models.Card

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Card</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValidUntilMonth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValidUntilMonth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValidUntilYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValidUntilYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CVC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CVC)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
